head
   title Poll
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   script(src="/js/serv-int.js")
   
   script.
      $(document).ready(function() {
         $(".choice-vote").on("click", function() {
            var name = $(this).parent().parent().attr("id");
            voteFor(!{JSON.stringify(poll_id)}, name);
         })
         
         $("#see-results").on("click", function() {
            getResults(!{JSON.stringify(poll_id)});
         })
         
         $("#choice-add").on("click", function() {
            $("#choice-add-form").slideToggle();
         })
         
         $("#choice-add-button").on("click", function() {
           addAuthChoice($("#choice-add-input").val(), !{JSON.stringify(poll_id)});
         })
         
         $("#logout").on("click", function() {
            userLogout();
         })
      })
   
body
   if(isVisible)
      div.top-nav
         h1 #{question}
         h2 by #{username}
         
         if(logged)
            button#logout Log Out
   
      div#poll
         div#poll-choices
            p#question #{question}
            each val, index in choices
               div.choice(id=val.name)
                  p= val.name
                     button.choice-vote Vote
                  
            // if logged in user doesn't equal owner of poll
         
         if(logged !== username)
            button#choice-add Add New Choice
            form#choice-add-form
               label.form-label(for="choice-add-input") Choice:
               input.form-input#choice-add-input(type="text")
               button.form-button#choice-add-button(type="button") Add
               
         button#see-results(type="button") Results
         div.results
            div.results-list-form
            div.results-chart-form
            
   else
      h4 Poll is unable to be viewed at this time.