head
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   script(src="/js/serv-int.js")
   
   script.
      $(document).ready(function() {
         $(".choice-vote").on("click", function() {
            var name = $(this).parent().parent().attr("id");
            voteFor(!{JSON.stringify(poll_id)}, name);
         })
         
         $("#see-results").on("click", function() {
            getResults(!{JSON.stringify(poll_id)});
         })
      })
   
body
   h1 #{question}
   h2 by #{username}
   
   div#poll
      p#question #{question}
      each val, index in choices
         div.choice(id=val.name)
            p= val.name
               span= val.votes
               button.choice-vote Vote
               
      button#see-results Results
      div.results