head
   title #{username} | Profile
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   link(rel="stylesheet", href="/css/profile.css")
   
body
   div.container-fluid
      div.container
         div.header
            h1 #{username}'s Profile
            div.header-buttons
               button.header-button#new-poll(type="button") New Poll
               if(logged)
                  button.header-button#logout(type="button") Log Out
        
         div.body
            div.poll-container
               h4 Polls
               div.polls
                  if(isVisible)
                     each val, index in polls
                        div.poll(id=val._id)
                           a.poll-question(href="/poll/" + val._id)= val.question
                           div.poll-options
                              button.poll-option.edit(type="button") Edit
                              button.poll-option.share(type="button") Share
                              button.poll-option.unshare(type="button") Hide
                              button.poll-option.results(type="button") Results
                              button.poll-option.delete(type="button") Delete
                  else
                     h5 Profile is Hidden
                     p
                        | If this is your profile, 
                        a(href="/login.html") log in 
                        | to view it.
   div.all-modal
      div.indiv-modal.new-poll
         h3 New Poll
         form
            div.label-input
               label.form-label(for="new-poll-question") Question
               input.form-input#new-poll-question(type="text")
            div.label-input
               label.form-label(for="new-poll-choices") Choice
               input.form-input#new-poll-choices(type="text")
            button.form-button#new-poll-add-choice(type="button") Add Choice
            div.new-poll-choices-append
            button.form-button#new-poll-submit(type="button") Add Poll
         
      div.indiv-modal.edit-poll
         h3 Edit Poll
         form
            div.label-input
               label.form-label(for="edit-poll-question") Question
               input.form-input#edit-poll-question(type="text")
            div.label-input
               label.form-label(for="edit-poll-choices") Choice
               input.form-input#edit-poll-choices(type="text")
            button.form-button#edit-poll-add-choice(type="button") Add Choice
            div.edit-poll-choices-append
            button.form-button#edit-poll-submit(type="button") Edit Poll
         
      div.indiv-modal.view-results
         h3 Results
         div.results-list-form
         div.results-chart-form#chart                 
            
            
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(type="text/javascript", src="https://www.google.com/jsapi")
script(type="text/javascript").
   google.load('visualization', '1.0', {'packages':['corechart']});
script(src="/js/serv-int.js")
   
script(tyoe="text/javascript").

      $(document).ready(function() {
         
         var polls = !{JSON.stringify(polls)};
         for(var i = 0; i < polls.length; i ++) {
            if(polls[i].isVisible) {
               $("#" + polls[i]._id + " .share").css("display", "none");
            } else {
               $("#" + polls[i]._id + " .unshare").css("display", "none");
            }
         }
      
      
         // closing modals unless clicking on the modal
         $(".indiv-modal").on("click", function(e) {
            e.stopPropagation();
         });
         
         $(".all-modal").on("click", function() {
            $(".all-modal").css("display", "none");
            $(".indiv-modal").css("display", "none");
         });

         // loading up add poll modal
         $("#new-poll").on("click", function() {
            $(".all-modal").css("display", "block");
            $(".new-poll").css("display", "block");
         });
      
         $("#new-poll-add-choice").on("click", function() {
            // adds choice to array
            var choice = $("#new-poll-choices").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".new-poll-choices-append").append(html);
         });
         
         // clicking on a choice in the add div to delete it
         $(".new-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".new-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         });
         
         $("#edit-poll-add-choice").on("click", function() {
   
            // adds choice to array
            var choice = $("#edit-poll-choices").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".edit-poll-choices-append").append(html);
         });
         
         // clicking on a choice in the edit div to delete it
         $(".edit-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".edit-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         });
         
         // click on add poll sends ajax call to server
         $("#new-poll-submit").on("click", function() {
            newPoll(!{JSON.stringify(username)});
         });
         
         // click on edit poll sends ajax call to server
         $("#edit-poll-submit").on("click", function() {
            var poll_id = $(this).parent().attr("data-poll_id");
            editPoll(!{JSON.stringify(username)}, poll_id);
         });

         // click on a poll and go to the poll page
         $(".poll").on("click", function() {
            window.location.pathname = "/poll/" + $(this).attr("id");
         });
         
         // delete a poll
         $(".delete").on("click", function(e) {
            e.stopPropagation();
            var poll_id = $(this).parent().parent().attr("id");
            deletePoll(!{JSON.stringify(username)}, poll_id);
         });
         
         $(".edit").on("click", function(e) {
            e.stopPropagation();
            var poll_id = $(this).parent().parent().attr("id");
            editPollFormPopulate(poll_id);
            $(".all-modal").css("display", "block");
            $(".edit-poll").css("display", "block");
         });
         
         $(".share").on("click", function(e) {
            e.stopPropagation();
            var poll_id = $(this).parent().parent().attr("id");
            console.log("share: " + poll_id);
            sharePoll(!{JSON.stringify(username)}, poll_id);
         });
         
         $(".unshare").on("click", function(e) {
            e.stopPropagation();
            var poll_id = $(this).parent().parent().attr("id");
            hidePoll(!{JSON.stringify(username)}, poll_id);
         });
         
         $(".results").on("click", function(e) {
            e.stopPropagation();
            var poll_id = $(this).parent().parent().attr("id");
            getResults(poll_id);
            
            $(".all-modal").css("display", "block");
            $(".view-results").css("display", "block");
         });
         
         $("#logout").on("click", function() {
            userLogout();
         });
      });
