head
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   script(src="/js/serv-int.js")
   
   script.
      $(document).ready(function() {
         $("#new-poll-add-choice").on("click", function() {
   
            // adds choice to array
            var choice = $("#new-poll-choice").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".new-poll-choices-append").append(html);
         })
         
         // clicking on a choice in the add div to delete it
         $(".new-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".new-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         })
         
         $("#edit-poll-add-choice").on("click", function() {
   
            // adds choice to array
            var choice = $("#edit-poll-choice").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".edit-poll-choices-append").append(html);
         })
         
         // clicking on a choice in the edit div to delete it
         $(".edit-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".edit-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         })
         
         // click on add poll sends ajax call to server
         $("#new-poll-submit").on("click", function() {
            newPoll(!{JSON.stringify(username)});
         })
         
         // click on edit poll sends ajax call to server
         $("#edit-poll-submit").on("click", function() {
            var poll_id = $(this).parent().attr("data-poll_id");
            editPoll(!{JSON.stringify(username)}, poll_id);
         })
         
         // delete a poll
         $(".delete").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            deletePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".edit").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            editPollFormPopulate(poll_id);
         })
         
         $(".share").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            sharePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".unshare").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            hidePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".results").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            getResults(poll_id);
         })
      })

body
   h1 #{username}'s Profile
      button#add-poll Create A New Poll
   
   
   div.container#polls
      if(isVisible)
         each val, index in polls
            div.poll(id=val.poll_id, style="border: 1px solid black")
               p.question= val.question
               button.poll-option.delete
                  i.fa.fa-minus
               button.poll-option.edit
                  i.fa.fa-gear
               if(val.isVisible)
                  button.poll-option.unshare
                     i.fa.fa-arrow-left
               else
                  button.poll-option.share
                     i.fa.fa-arrow-right
               button.poll-option.results
                  i.fa.fa-bar-chart
   
   div.container#modals
      div.modal-div
         div.new-poll
            form
               label.form-label(for="new-poll-question") Question:
               input.form-input#new-poll-question(type="text")
               label.form-label(for="new-poll-choices") Choices:
               input.form-input#new-poll-choice(type="text")
               button.form-button#new-poll-add-choice(type="button") Add Choice
            
               div.new-poll-choices-append
            
               button.form-button#new-poll-submit(type="button") Add Poll
               
         div.edit-poll
            form(data-poll_id="")
               label.form-label(for="edit-poll-question") Question:
               input.form-input#edit-poll-question(type="text")
               label.form-label(for="edit-poll-choices") Choices:
               input.form-input#edit-poll-choice(type="text")
               button.form-button#edit-poll-add-choice(type="button") Add Choice
            
               div.edit-poll-choices-append
            
               button.form-button#edit-poll-submit(type="button") Edit Poll
               
         div.view-results
            div.results-list-form
            div.results-chart-form
   
         div.share-complete
            p.share-information Poll Successfully
               span#share-change Hidden/Visible
