head
   title #{username} | Profile
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   link(rel="stylesheet", href="/css/profile.css")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   script(src="/js/serv-int.js")
   
   script.
      $(document).ready(function() {
         // closing modals unless clicking on the modal
         $(".indiv-modal").on("click", function(e) {
            e.stopPropagation();
         })
         
         $(".modal-div").on("click", function() {
            $(".modal-div").css("display", "none");
            $(".indiv-modal").css("display", "none");
         })
         
         
         // loading up add poll modal
         $("#add-poll").on("click", function() {
            $(".modal-div").css("display", "block");
            $(".new-poll").css("display", "block");
         })
      
         $("#new-poll-add-choice").on("click", function() {
            // adds choice to array
            var choice = $("#new-poll-choice").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".new-poll-choices-append").append(html);
         })
         
         // clicking on a choice in the add div to delete it
         $(".new-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".new-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         })
         
         $("#edit-poll-add-choice").on("click", function() {
   
            // adds choice to array
            var choice = $("#edit-poll-choice").val();
            currentChoices.push({name: choice, votes: 0});
            
            // appends choice as an element to new-poll-choices-append div
            var html = '<button class="choice-appended" data-choice-number="' + choiceNumber + '">' + choice + '</button>';
            choiceNumber++;
            $(".edit-poll-choices-append").append(html);
         })
         
         // clicking on a choice in the edit div to delete it
         $(".edit-poll-choices-append").on("click", ".choice-appended", function() {
            var index = $(this).attr("data-choice-number");
            // removes from array
            currentChoices.splice(index, 1);
            
            // removes from html
            $(".edit-poll-choices-append").children(".choice-appended[data-choice-number='" + index + "']").remove();
         })
         
         // click on add poll sends ajax call to server
         $("#new-poll-submit").on("click", function() {
            newPoll(!{JSON.stringify(username)});
         })
         
         // click on edit poll sends ajax call to server
         $("#edit-poll-submit").on("click", function() {
            var poll_id = $(this).parent().attr("data-poll_id");
            editPoll(!{JSON.stringify(username)}, poll_id);
         })
         
         // delete a poll
         $(".delete").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            deletePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".edit").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            editPollFormPopulate(poll_id);
            $(".modal-div").css("display", "block");
            $(".edit-poll").css("display", "block");
         })
         
         $(".share").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            sharePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".unshare").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            hidePoll(!{JSON.stringify(username)}, poll_id);
         })
         
         $(".results").on("click", function() {
            var poll_id = $(this).parent().attr("id");
            getResults(poll_id);
            
            $(".modal-div").css("display", "block");
            $(".view-results").css("display", "block");
         })
         
         $("#logout").on("click", function() {
            userLogout();
         })
      })

body
   div.container-fluid#header
      div.container
         div.header
            h1 #{username}'s Profile
            div.header-buttons
               button.header-button#add-poll Create A New Poll
               if(logged)
                  span |
                  button.header-button#logout(type="button") Log Out
   
   
   div.container-fluid#polls
      div.container
         if(isVisible)
            each val, index in polls
               div.poll(id=val.poll_id)
                  p.question= val.question
                  button.poll-option.delete(type="button")
                     i.fa.fa-minus
                  button.poll-option.edit(type="button")
                     i.fa.fa-gear
                  if(val.isVisible)
                     button.poll-option.unshare(type="button")
                        i.fa.fa-ban.unshare-icon
                  else
                     button.poll-option.share(type="button")
                        i.fa.fa-share.share-icon
                  button.poll-option.results(type="button")
                     i.fa.fa-bar-chart
   
   div.container-fluid#modals
      div.modal-div
         div.container
            div.new-poll.indiv-modal
               form
                  label.form-label(for="new-poll-question") Question:
                  br
                  input.form-input#new-poll-question(type="text")
                  br
                  label.form-label(for="new-poll-choices") Choices:
                  br
                  input.form-input#new-poll-choice(type="text")
                  br
                  button.form-button#new-poll-add-choice(type="button") Add Choice
                  br
            
                  div.new-poll-choices-append
                  br
            
                  button.form-button#new-poll-submit(type="button") Add Poll
               
         div.edit-poll.indiv-modal
            form.form-group(data-poll_id="")
               label.form-label(for="edit-poll-question") Question:
               input.form-input#edit-poll-question(type="text")
               br
               label.form-label(for="edit-poll-choices") Choices:
               input.form-input#edit-poll-choice(type="text")
               br
               button.form-button#edit-poll-add-choice(type="button") Add Choice
            
               div.edit-poll-choices-append
               br
            
               button.form-button#edit-poll-submit(type="button") Edit Poll
               
         div.view-results.indiv-modal
            div.results-list-form
            div.results-chart-form                                  